{% extends 'basemainpage.html' %}

{% block body %}

            <div class="container">
                <h3 align="center">BMI Calculator</h3>

                <p> The BMI (Body Mass Index)measurement is the calculation of your body weight in relation
                    to your height and is commonly used as an indicator of whether you might be in a risk category
                    for health problems caused by your weight. </p><br>


                <div align="center">

                    <p> Do you want to calculate your BMI in Metrics or Imperial?</p>

                    <form class=" site-form" action="/credentials/main/" method="post">
                                {% csrf_token %}
                                    {{form}}

                    <br><br>


                        <a href="{% url 'metric:minput' %}"><button type="button" class="btn btn-success">Metrics</button></a>
                         <a href="{% url 'metric:minput' %}"><button type="button" class="btn btn-success">Imperial</button></a>


                    </form>
                </div><br>

            </div>


{% endblock %}
