{% extends 'base.html' %}

{% block body %}

    <form class="site-form" action="/bmiapp/welcome/" method="post">
        {% csrf_token %}
        {{form}}

    </form>

        <div class="container">

                <h2 align="center">Welcome to the Django BMI Calculator</h2><br>

                <p> The Django BMI Calculator aims at helping you to calculate accurately the Body Mass Index of your patients.
                It can be used to convert the data from your patients from metric to imperial and/or from imperial to metric.
                The project is to help you obtain, store and calculate your data anywhere, anytime from any device.</p><br>

                <p>

                If you are ready to use the Django BMI Calculator, please Sign Up or Login to start using the application.

                </p><br>

        <div align="center">





{% endblock %}
