{% extends 'basemainpage.html' %}

{% block body %}

            <div class="container">
                <h3 align="center">BMI Calculator</h3>

                <p> The BMI (Body Mass Index)measurement is the calculation of your body weight in relation
                    to your height and is commonly used as an indicator of whether you might be in a risk category
                    for health problems caused by your weight. </p>


                <div align="center">

                    <h4 align="center"><b>Imperial</b></h4><br>
                    <p> Enter your height in feet and inches and your weight in pounds</p><br>

                    <form class=" site-form" action="/imperial/impinput/" method="post">
                                {% csrf_token %}
                                    {{form}}

                    <br><br><br>
                        <input type="submit" class="btn btn-success" value="Calculate BMI Imperial">

                    <br><br><br><br>

                        <a href="{% url 'credentials:main' %}"><button type="button" class="btn btn-success">Back to Main Page</button></a>



                    </form>
                </div><br>


            </div>




{% endblock %}
