{% extends 'basemainpage.html' %}

{% block body %}

<div align="center">

    <form class="site-form" action="/metric/moutput/" method="post" xmlns="http://www.w3.org/1999/html">


        <h3 align="center">BMI Metric Calculator</h3><br>

            <div class = "metric">
                        {% csrf_token %}
                    {% for Metric in metric %}

                    <p>{{Metric.date}}</p>

                <table border="4", width="500">
                    <tr>
                        <th>Your Measurements</th>
                        <th>Metrics</th>
                        <th>Imperial</th>

                    </tr>

                    <tr>

                        <td>Height </td>
                        <td align="center">{{Metric.height}} m</td>
                        <td align="center">{{Metric.mtofeet}} feet   {{Metric.mtoinch |floatformat:0}} inches</td>

                    </tr>

                    <tr>
                         <td>Weight </td>
                        <td align="center">{{Metric.weight}} kg</td>
                        <td align="center">{{Metric.kgtoimperial}} pounds</td>

                    </tr>
                </table><br>


                <h4 align = "center">Your metric BMI is {{Metric.bmimetrics}}</h4><br>

                        {% endfor %}

            <a href="{% url 'metric:minput' %}"><button type="button" class="btn btn-success">Back to Calculator</button></a>


            </div>
    </form>

  </div>

{% endblock %}
